priority -5
snippet snip "snippet for snippet" b
`!p snip.rv = "snippet"` ${1:name} "${2:desc}" ${3:modes}
${0:body}
`!p snip.rv = "endsnippet\n"`
endsnippet

snippet box "create box around text" w
not realized yet
endsnippet

